body{
    margin: 0;
}
a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
  }
#box-container {

    display: flex;
    height: 100vh;
    flex-direction:row;
    
  }
#title{
    position: relative;
    background-color: #f8ca4d;
    max-width: 0;
    
}
#title2{
    position: relative;
    left: 5%;
    max-width: 0;
}
h1{
    font-size: 15vh;
    position: relative;
    top: 37vh;
    right:30vh;
    color: #212121;
    
    
}
h2{
    font-size: 15vh;
    position: relative;
    top: 34.5vh;
    right: 25px;
    color: white;
}
img{
    max-width: 90%;
    max-height: 90%;
    align-self: center;

}
p{
    padding-left: 5%;
    padding-top: 57.5vh;
    max-height:100vh;
    max-width: 90%;
    font-size: 4vh;
    color: white;
    
}
#box-1{
    padding-top: 65px;
    background-color: white;
    width: 50%;
    
}
#box-2{
    background-color: #212121;
    width: 50%;
    overflow-x: scroll;
    text-align: left;
}
